:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  place-items: center; 
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background-color: transparent;
  background-color: white;
}

body::-webkit-scrollbar {
  width: 12px; /* Set a width for WebKit browsers (Chrome, Safari) */
}


body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb to transparent */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track to transparent */
}


#app {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

p {
  margin: 0;
}

@keyframes squiggly {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

.delay {
  animation-delay: 3s !important;
}

.slide-down {
  animation: slide-down 0.6s ease-out forwards;
}

.slide-in-right {
  animation: slide-in-right 0.6s ease-out forwards;
}

.slide-in-right-delay {
  display: block !important;
  animation: 1.6s slide-in-right 0.6s ease-out forwards;
}

.slide-in-left-delay {
  display: block !important;
  animation: 1.6s slide-in-left 0.6s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 0.6s ease-out forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 0.6s ease-out forwards;
}

@keyframes fromRight {
  0% {
    transform: translateX(1000%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-1000%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromBottom {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fromTop {
  
}


@keyframes fromLeftJam {
  0% {
    opacity: 0;
    transform: translateX(800%);
  }
  20%{
    opacity: 1;
    transform: translateX(0);
  }
  40%{
    opacity: 1;
    transform: translateX(300%);
  }
  60% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    transform: translateX(150%);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 0.6s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes my-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

